* {
	margin: 0px;
	padding: 0px;
	font-family: 'Akshar';
}

body {
	background-color: #FFEED9;
}

article {
	width: 30%;
	margin-left: 130px;
}

.slideshow {
	float: right;

}

.slideshow img {
	position: absolute;
	/* top: 100px;
	right: 360px; */
	top: 16%;
	right: 26%;
	width: 37%;

}

.slideshow img[alt="img2"] {
	position: absolute;
	right: 0px;
	top: 150px;
}

.intro article>button {
	color: white;
	font-size: 24px;
	background-color: #FF8D4C;
	border: 0px;
	border-bottom: 2px dashed #5A2828;
	padding: 10px 15px;
	border-radius: 20% /60%;
	margin: 40px 0 30px 50px;
}

.intro article>button:hover {
	background-color: #CF550F;
}

.intro article .title {
	font-size: 64px;
	color: #5A2828;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.intro p {
	font-size: 24px;
	color: #CA8D55;
}

.post {
	font-size: 36px;
	color: #5A2828;
	margin: 15px 0 30px 100px;
}

.post button {
	width: 120px;
	font-size: 24px;
	display: block;
	color: white;
	background-color: #FF8D4C;
	border: 0px;
	border-bottom: 2px dashed #5A2828;
	padding: 1px 40px;
	border-radius: 20% /50%;
}

.post button:hover {
	background-color: #CF550F;
}


/* ALL IN ONE */
.allInOne {
	color: #5A2828;
	font-size: 36px;
	position: relative;
}

.word {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	margin-top: 100px;
}

.scrollImages {
	display: flex;
	overflow: auto;
	white-space: nowrap;
}

/* to make the horizontal scroll invisible */
::-webkit-scrollbar {
	display: none;
}

.scrollImages .border {
	border: 3px dashed #FF8D4C;
	border-radius: 54px;
	width: 254px;
	Height: 254px;
	transform: rotate(70deg);
	position: relative;
	z-index: -1;
	bottom: 60px;
}

.scrollImages button {
	font-size: 30px;
	color: white;
	width: 253px;
	Height: 60px;
	border: 0;
	position: relative;
	top: 200px;
	left: 1px;
	border-radius: 0px 0px 54px 54px;
	background-color: #FF8D4C;
}

.scrollImages button:hover {
	background-color: #CF550F;
}

.scrollImages .card {
	height: 300px;
	margin: 20px 50px 0px 50px;
}

.scrollImages .image {
	width: 254px;
	Height: 261px;
	background-repeat: no-repeat;

}

.scrollImages .img1 {
	background-image: url("./images/Home page/all in one/health.svg");
	background-size: contain;
}

.scrollImages .img2 {
	background-image: url("./images/Home page/all in one/All needs.svg");
	background-size: contain;
}

.scrollImages .img3 {
	background-image: url("./images/Home page/all in one/pet walking.svg");
	background-size: contain;
}

.scrollImages .img4 {
	background-image: url("./images/Home page/all in one/pet sitter.svg");
	background-size: contain;
}

.scrollImages .img5 {
	background-image: url("./images/Home page/all in one/adopt.svg");
	background-size: contain;
}

.scrollImages .img6 {
	background-image: url("./images/Home page/all in one/find my pet.svg");
	background-size: contain;
}


/* second slideshow */
.allInOne p {
	font-size: 36px;
	color: #5A2828;
	width: 65%;
	margin-left: 18%;
	margin-top: 40px;
	margin-bottom: 70px;
	text-align: center;
}

.allInOne .bigcard {
	width: 95%;
	margin-left: 50px;

}

.allInOne .bigcard img {
	width: 100%;
	height: 480px;
}

.allInOne .bigcard .border {
	border: 3px dashed #5A2828;
	border-radius: 54px;
	width: 90%;
	Height: 380px;
	transform: rotate(10deg);
	position: absolute;
	z-index: -1;
	top: 740px;
	right: 50px;
}

/* our Services section */

.ourServices {
	color: #5A2828;
	font-size: 36px;
	position: relative;
	margin-bottom: 0px;
}

.ourServices .word img {
	position: absolute;
	top: 12px
}

.ourServices .buttons {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 80px;
}

.ourServices .card {
	font-size: 30px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.ourServices .card a {
	text-decoration: none;

}

.ourServices .card button {
	width: 200px;
	font-size: 24px;
	color: white;
	background-color: #FF8D4C;
	border: 0px;
	border-bottom: 2px dashed #5A2828;
	padding: 10px 15px;
	border-radius: 20% /60%;
	margin-top: 60px;

}

.ourServices .card button:hover {
	background-color: #CF550F;
}

.ourServices .hr {
	border-bottom: 2px dashed #5A2828;
}


/* ABOUT US */

.aboutus {
	color: #5A2828;
	font-size: 36px;
	position: relative;
	margin-bottom: 50px;
	text-align: center;
}

.aboutus .word {
	margin-top: 50px;
	margin-bottom: 15px;
}

.aboutus .word img {
	position: absolute;
	top: 12px
}

.aboutus p {
	color: #CA8D55;
	font-size: 24px;
	width: 56.5%;
	margin-left: 20%;
}

.aboutus .image {
	width: 100%;
}

.aboutus .image img {
	position: absolute;
	/* top: 250px; */
	bottom: -21%;
	/* left: 200px; */
	left: 15%;
	width: 74%;
}

.aboutus .image .hr {
	border-bottom: 2px dashed #5A2828;
	/* margin-top: 230px; */
	margin-top: 16%;
}

/* Feedback */
.feedback {
	color: #5A2828;
	font-size: 36px;
	margin-bottom: 100px;
	width: 450px;
	margin: auto;
}

.feedback .word p {
	color: #CA8D55;
	font-size: 24px;
	margin-top: 15px;
}

.feedback .image {
	display: flex;
	justify-content: space-around;
	height: 65px;
	width: 100%;
}

.feedback .image img {
	margin-right: 50px;
	margin-left: 50px;
	width: 55px;
}

.feedback .image img:hover {
	width: 70px;

}

/* Shapes Animation */

/* animation in intro section  */
.shapes-animation {
	position: absolute;
	left: 2%;
	top: 17%;

}

.shapes-animation2 {
	position: absolute;
	left: 72%;
	top: 17%;

}

.shapes-collection1 {
	position: absolute;
	left: 5%;
	top: 80%;
}

.bone {
	position: absolute;
	left: 60%;
	top: 90%;
}

.pethand {
	position: absolute;
	left: 40%;
	top: 22%;
}

#photo2,
#photo4,
#photo6 {
	display: none;
}

/* animation in ALL IN ONE section  */
.allInOneAnimation {
	position: absolute;
	left: 5%;
	top: 40%;
}

/* animation in Our Services section */
.shapes-collection2 {
	position: absolute;
	right: 7%;
	top: -7%;
}


/* animation in about us section */
.shapes-animation3 {
	position: absolute;
	right: 10%;
	top: -5%;

}

.shapes-collection3 {
	position: absolute;
	left: 5%;
	top: 30%;
}

@media screen and (max-width: 450px) {

	/* intro part */
	.slideshow {
		float: none;
		/* position: relative; */
	}

	.slideshow img {
		/* position: relative; */
		top: 80%;
		left: -1%;
		width: 60%;

	}

	.slideshow img[alt="img2"] {
		top: 33%;
		left: 40%;
		width: 60%;
	}


	article {
		text-align: center;
		width: 50%;
		margin-left: 1%;
		/* margin-top: 350px; */
	}


	.intro article>button {
		font-size: 18px;
		margin: 20px 0 20px 10px;
	}


	.intro article .title {
		font-size: 32px;
		margin-bottom: 10px;
	}

	.intro p {
		font-size: 14px;
	}

	.intro article .responsive {
		position: absolute;
		top: 90%;
		right: 1%;
		width: 45%;
		font-size: 17px;
	}

	.post {
		text-align: center;
		font-size: 23px;
		position: absolute;
		top: 107%;
		right: 10%;
	}

	.post button {
		margin-top: 10px;
	}




	/* ALL IN ONE */
	.allInOne {
		margin-top: 100%;
	}



	.scrollImages .border {
		width: 204px;
		Height: 204px;
	}

	.scrollImages button {
		width: 198px;
		top: 150px;
		left: 0px;
	}

	.scrollImages .card {
		margin-right: 30px;
		margin-left: 20px;
	}

	.scrollImages .image {
		width: 204px;
		Height: 204px;


	}

	/* second slideshow */
	.allInOne p {
		font-size: 18px;
		width: 100%;
		margin-left: 0%;
		margin-top: 20px;
	}

	.allInOne .bigcard {
		margin-left: 2%;

	}

	.allInOne .bigcard img {
		width: 100%;
		height: 155px;
	}

	.allInOne .bigcard .border {
		width: 90%;
		Height: 150px;
		top: 605px;
		right: 5%;
	}






	/* our servies */
	.ourServices {
		/* width: 90%; */

	}

	.ourServices .buttons {
		display:inline-block;
		/* width: 50%; */
		/* flex-direction: column; */
		/* overflow: hidden; */
		white-space:nowrap;

	}


	/* About us */
	.aboutus .image {
		width: 100%;
	}


	/* Feedback */
	.feedback {
		width: 100%;
	}


	.feedback .image img {
		margin-right: 0px;
		margin-left: 0px;
	}




	/* Shapes Animation */

	/* animation in intro section  */
	.shapes-animation img,
	.shapes-animation2 img,
	.allInOneAnimation img {
		width: 50%;
	}

	.shapes-animation {
		left: 5%;
		top: 70%;
	}


	.shapes-collection1 {
		width: 50px;
		left: 80%;
		top: 130%;
	}

	.bone,
	.pethand {
		display: none;
	}


	/* animation in ALL IN ONE section  */
	.allInOneAnimation {
		top: 48%;
	}

	/* animation in Our Services section */
	.shapes-collection2 {
		display: none;
	}


	/* animation in about us section */
	.shapes-animation3 {
		position: absolute;
		right: 10%;
		top: -5%;

	}

	.shapes-collection3 {
		position: absolute;
		left: 5%;
		top: 30%;
	}
}