@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Akshar', sans-serif;
}

body{
	background-color: #FFEED9;
}
.container{

    display: flex;
    /* align-items:end;
    justify-content: center;
    flex-direction: column; */
    height: 100vh;
    margin-top: 30px;
    
}
.dog{
    display: inline-block;
}
.dog img[alt = 'dog']{
    position: absolute;
    left: 50px;
}
#plogin {
font-size: 48px;
color: #5A2828;
text-align: center;
}
.bones{
    display: inline-block;
    position: absolute;
    
}
.bones img{
  width: 35px;
}
.bones img[alt='bone1']{
    margin-top: 10px;
    margin-left: 180px ;
    margin-right: 185px;
   
}
#p1{
    font-size: 24px;
    color: #CA8D55;
    text-align: center;
    padding-bottom: 5%;
 
}
.login{
	padding: 10px;
    margin-right: 100px ;
    position: relative;
    overflow: hidden;
    width: 50%;
    max-width: 100%;
    min-height: 480px;	
    margin-top: 50px;
    margin-left: 20px;

}
label{
	
	font-size: 20px;
	color: #5A2828;
}
.container input{
    background-color: #FF8D4Ca0 ;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    outline: none;
	color: #5A2828;
    text-align: center;
}


  /* Hide the browser's default checkbox */
  .choises{
    margin-left: 40px;
  }
  .choises input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 300px;
	left: 10px;
	height: 25px;
	width: 25px;
	background-color: #f9b289;
  }
  
  /* On mouse-over, add a grey background color */
  .choises:hover input ~ .checkmark {
	background-color: #f9b289;
  }
  
  /* When the checkbox is checked, add a blue background */
  .choises input:checked ~ .checkmark {
	background-color: #ff8e4cbe;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .choises input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .choises .checkmark:after {
	left: 10px;
	top: 0px;
	width: 3px;
	height: 20px;
	border: solid #5A2828;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
/* 
#ch{
   
	top: 0;
	left: 10px;
	height: 15px;
	width: 15px;
	background-color: #f9b289;
} */
.forgetPass{
    margin-left: 45%;
    text-decoration: none;
    font-size: 20px;
    color: #ff8a47;
}
.forgetPass:hover {
    color: #5A2828;
}
.login button{
	width: 40%;
	font-size: 24px;
	color: white;
	background-color: #CA8D55;
	border: 0px;
	border-bottom: 2px dashed #5A2828;
	padding:1px 40px;
	border-radius: 10% / 60%;
    margin-left: 30%;
    cursor:pointer;

}
.login button:hover{
    background-color: #ff8a47;
}

.login form{
    position: relative ;
}
.word{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px ;
}
.word img{
	position: absolute;
	right: 169px;
}
.social-icons{
    display: flex;
    justify-content: center;
     
}
.icon{
    margin-top: 10px;
    margin-right:30px ;
    margin-left :30px;
    font-size   :25px;    
}
.container .login .signUp{
display: flex;
justify-content: center;
font-size: 20px;
margin-top: 15px;
}
.container .login span{
    margin-right: 15px;
    color: #cf550f;
}
.container .login a{
    text-decoration: none;
}

