*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FFEED9;
}
.textheader{
	font-size: 36px;
	color: #5A2828;
	position: relative; 

	margin-left: 25%;
	/* text-align: center; */
	margin-top: 2%;
	margin-bottom: -3%;
	
}
.text1{
	font-size: 36px;
	color: #5A2828;
	position: relative; 
	margin-left: 15%;
	/* text-align: center; */
	margin-top: 2%;
}
 .brief{
	color: #CA8D55;
 }

.brief1{
	
	margin-left:18%;
	
}
.brief2{
	
	margin-left:20%;
}
.breif3{
	margin-left:15%;
}
.brief4{
	margin-left:20%;
}

.near{

    margin-left: 16%;
	 
}
.box{
	display: flex; 
	padding-top:1%;
	color: #5A2828 ; 
}


.address{
	color:  #CA8D55 ;
	font-size: 30px;
}
.boxes{
	display: flex;
}
.location{
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	
}
.addresstext{
	font-size: 24px;
	color:  #CF550F;
	padding-top: 2%;

}

.container{
	display: flex;
	padding: 1% 0 1% 15%;
}



/* The container */
.choises {
	display: block;
	position: relative;
	padding-left: 3%;
	padding-right: 3%;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .choises input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 10px;
	height: 25px;
	width: 25px;
	background-color: #f9b289;
  }
  
  /* On mouse-over, add a grey background color */
  .choises:hover input ~ .checkmark {
	background-color: #f9b289;
  }
  
  /* When the checkbox is checked, add a blue background */
  .choises input:checked ~ .checkmark {
	background-color: #FF8D4C;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .choises input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .choises .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #5A2828;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }




.vets{
	display: flex;
	flex-direction: column;
	padding-left: 15%;
}
.vet{
	width: 3%;
	padding: 1%;
}
.v{
	display: flex;
	
	margin-bottom: 1.5%;
	
}
.name{
	font-size: 24px;
	color: #5A2828 ; 
	
}
.lorem{

	padding: 2% 0px 0% 1%;
	margin-left: -10%;
	color: #5A2828 ; 

} 
  


.bubble{
    position: absolute;
	bottom: -10%; 
	right : 7%;
	z-index: -1;

	 
}
.slideshow {
	position: absolute;
	width: 630px;
	height: 630px; 
	overflow: hidden;
	left:52%;
	top :15%;
  }
  
  .slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
  }
  
  .slideshow img.active {
   opacity: 1;
  }


.button{
	background-color: #FF8D4C;
	border: none;
	border-bottom: #5A2828 dotted;
	width: 144px;
	height:38px;
	border-radius: 25px;
	font-size: 24px;
	color:white;
	position: relative;
	left:20%;
}

.button:hover{
	background-color: #CF550F;
}
.bone{
	position: absolute;
	left:10%;
	top:22%;
}
.pethand{
	position: absolute;
	left:5%;
	top:45%;
}
.pethand2{
	position: absolute;
	left:42%;
	top:30%;
}
.bone2{
	position: absolute;
	left:90%;
	top:15%;
}
.shapes-collection{
	position: absolute;
	left:5%;
	top:100%;
}

