@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Akshar', sans-serif;
}
body{
	background-color: #FFEED9;
}
.shapes-animation1 {
	position: absolute;
	left: 90%;
	top: 70%;

  }
  .shapes-animation2 {
    position: absolute;
    left: 5%;
    top: 15%;
  
    }  
  
  
  .photo {
	position: absolute;
	top: 70%;
	left: 90%;
	opacity: 0;
	transition: opacity 1s;
  }
  
  
.photo.active {
	opacity: 1;
}

.photo2 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
  }
  
  .photo2.active {
	opacity: 1;
  }


.pethand1{
	position: absolute;
	left:0%;
	top:65%;
  transform: rotate(56deg);
}

.pethand2{
	position: absolute;
	left:2%;
	top:110%;
  transform: rotate(-40deg);
}
.pethand3{
	position: absolute;
	left:30%;
	top:117%;
  transform: rotate(-40deg);
}
.pethand4{
	position: absolute;
	left:37%;
	top:90%;
  transform: rotate(100deg);
}
.pethand5{
	position: absolute;
	left:45%;
	top:30%;
  transform: rotate(-30deg);
}
.pethand6{
	position: absolute;
	left:95%;
	top:105%;
  transform: rotate(40deg);
}
.bone2{
	position: absolute;
	left:20%;
	top:120%;
}
.bone1{
	position: absolute;
	left:37%;
	top:120%;
}
.bone3{
	position: absolute;
	left:0%;
	top:50%;
}
.bone4{
	position: absolute;
	left:95%;
	top:90%;
}

#psignup {
    font-size: 48px;
    color: #5A2828;
    text-align: center;
    }
.contain{
    position: relative;
    text-align: center;
    color:#eba564;
}
.left{
    position: absolute;
    top:35px;
    left: 280px;
}
.right{
    position: absolute;
    top:35px;
    right: 280px;
}
#p1{
    font-size:30px;
    color: #CA8D55;
    text-align: center;
    padding-bottom: 5%;
 
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:-2em;
    margin-bottom:-2em;
}
#p2{
    font-size: 16px;
    color: #CA8D55;
    text-align: center
}
.signup{
	padding: 10px;
    margin-right: 100px ;
    position: relative;
    overflow: hidden;
    width: 50%;
    max-width: 100%;
    min-height: 480px;	
    margin-top: 50px;
    margin-left: 20px;

}
label{
	
	font-size: 20px;
	color: #5A2828;
}
.input_container{
    background-color: #FF8D4Ca0;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    outline: none;
    color: #5A2828;
    text-align: center;
}

.next_button{
	width: 40%;
	font-size: 24px;
	color: white;
	background-color: #CA8D55;
	border: 0px;
	border-bottom: 2px dashed #5A2828;
	padding:1px 40px;
	border-radius: 10% / 60%;
    margin-left: 30%;
    cursor:pointer;

}

.signup form{
    position: relative ;
}
.image1{
    width: 40%;
    position:absolute;
    bottom: 20px;
    right: 80px;
}
.image2{
    width: 35%;
    position:absolute;
    bottom:120px;
    right: 120px;
}

.logIn{
    font-size: 24px;
    color: #CA8D55;

}
.logIn:link{
    color:none;
}
