body{
	background-color: #FFEED9;
}
:root{
	--dark-orange:#CA8D55;
	--brown:#5A2828;
	--light-orange:#FF8D4C;
}
.first-section{
	display: grid;
	grid-template-areas: 'no1 no1 no1 no2 no2';
	grid-template-columns: repeat(4 , 14em);
	justify-content: center;
	margin: 3em;
}
.no1{
	grid-area: no1;
}
.pet-setting{
	padding : 0 2rem 0 0;
	
}
.no1 h1 , h3{
	margin: 0;
	font-weight: 500;
}
.no1 p{
	color:var(--light-orange);
}
.no2{
	grid-area: no2;
}
.no2 a {
	display:inline-block;
	text-decoration: none;
	background-color: var(--light-orange);
	font-size: 1.1rem;
	align-items: center;
	justify-content: center;
	padding:  0.2em 2em;
	margin: 1.5em 0 0 0;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	overflow: hidden;
	border-bottom: 2px dashed var(--brown);
	color: white;
}

.form h3{
	font-weight: 450;
	word-spacing: 9px;
	letter-spacing: 3px;
	margin-bottom: 0.9em;
}

.arrow{
	appearance: none;
	background: url("../images/pet sitter/");
	background-repeat: no-repeat;
	background-size:16px 17px;
	background-position:right 0px;
	color: white;
}
.same-style{
	background-color: var(--light-orange);
	padding: 0.5rem 0.9rem;
	border-radius: 30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	border-right: 2px dashed var(--brown);
}
.row p{
	display: flex;
	justify-content: flex-start;
	margin: 0 0 0.1rem 1rem;
}
.rate{
	margin-left:3rem;
}
.inner-rate{
	display: flex;
	align-items: center;
}
.form-check{
	margin: 0 3rem 0 1rem;
}
.form-check-label{
	margin: 0 0 0 0.6rem;
	font-size: 1.21rem;
	font-weight: 350;
}
input[type=checkbox] ,
input[type=checkbox]:focus ,
input[type=checkbox]:checked
{
	background-color: #ca8e5566;
	box-shadow: none;
	border: none;
	appearance: none;
	background-image: url("");
}
